body{
    font-family: sans-serif;
}
.pricing-container{
    display: flex;
    justify-content: space-around;
}
.pricing-plan{
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(241 241 241);
    padding: 30px;
}
.plan-title{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.plan-price{
    font-weight: bold;
    font-size: 30px;
    margin:5px 0;
}